{% section 'hero-on-page' %}
<div id="custom-furniture-steps" class="shopify-section index-section">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item">
        <div class="section-header text-center">
          <h2 class="text-uppercase">¿Cómo funciona?</h2>
          <p class="mega-subtitle">Ponemos en tus manos el mueble que tienes en tu cabeza.</p>
        </div>
      </div>
      <div class="grid__item medium-up--one-quarter">
        <div class="box-shadow text-center common-box">
          {% include 'icon-librero' %}
          <h6 class="text-uppercase h6">1. Tu idea</h6>
          <p>Compártenos una foto o la idea del mueble que quieres.</p>
        </div>
      </div>
      <div class="grid__item medium-up--one-quarter">
        <div class="box-shadow text-center common-box">
          {% include 'icon-escritorio' %}
          <h6 class="text-uppercase h6">2. Cotización</h6>
          <p>Obtén tu cotización personalizada en menos de 48 horas.</p>
        </div>
      </div>
      <div class="grid__item medium-up--one-quarter">
        <div class="box-shadow text-center common-box">
          {% include 'icon-mesa' %}
          <h6 class="text-uppercase h6">3. Respuesta</h6>
          <p>Pide tu mueble y prepárate para tenerlo.</p>
        </div>
      </div>
      <div class="grid__item medium-up--one-quarter">
        <div class="box-shadow text-center common-box">
          {% include 'icon-sofa' %}
          <h6 class="text-uppercase h6">4. Disfruta</h6>
          <p>Recibe tu mueble y disfrútalo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopify-section index-section">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item">
        <div class="section-header text-center">
          <h2 class="text-uppercase">Fabricamos tus muebles y proyectos a medida</h2>
          <p class="mega-subtitle">Seguimos tus especificaciones o si lo prefieres te las sugerimos.</p>
        </div>
      </div>
      <div class="grid__item medium-up--one-half">
        <div class="box-shadow common-box">
          <div class="contact-form form-vertical">
            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="note form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}

              <label for="ContactFormMessage">{{ 'contact.form.project_request' | t }}</label>
              <input type="text" id="ContactFormMessage" name="contact[body]" value="{% if form.body %}{{ form.body }}{% endif %}">

              <div class="grid grid--half-gutters">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}">
                </div>
              </div>

              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

              <label>{{ 'contact.form.has_image' | t }}</label>
              <label for="ContactFormImage" class="btn btn--secondary">{{ 'contact.form.choose_image' | t }}</label>
              <input class="visibility-hidden" id="ContactFormImage" type="file" onchange="encodeImageFileAsURL(this)">

              <!-- <label>{{ 'contact.form.has_file' | t }}</label>
              <label for="ContactFormFile" class="btn btn--secondary">{{ 'contact.form.choose_file' | t }}</label>
              <input class="visibility-hidden" id="ContactFormFile" type="file" onchange="encodeImageFileAsURL(this)"> -->

              <!-- https://codebeautify.org/base64-to-image-converter -->
              <input class="visibility-hidden" type="text" id="ContactFormBirthday" name="contact[Birthday]" placeholder="Birthday">

              <script type="text/javascript">
                function encodeImageFileAsURL(element) {
                  var file = element.files[0];
                  var reader = new FileReader();
                  reader.onloadend = function() {
                    console.log('RESULT', reader.result);
                    $("#ContactFormBirthday").val(reader.result);
                    console.log($("#prodId").val());
                  }
                  reader.readAsDataURL(file);
                }
              </script>

              <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

            {% endform %}
          </div>
          <div class="pxFormGenerator" id="r07QcsWhlyVOpdeODNt7qw"></div>
        </div>
      </div>
      <div class="grid__item medium-up--five-twelfths medium-up--push-one-twelfth">
        <p>En Madera Makers fabricamos muebles y proyectos de interiorismo a la medida, con los mejores materiales y la más alta calidad.</p>
        <p>Lo hacemos a partir de tu idea o de una propuesta que armemos para ti según tus necesidades.</p>
        <p>Para comenzar a trabajar por favor llena el formulario de la izquierda, adjunta cualquier boceto, dibujo, foto o plano que tengas. Si no tienes ninguna imagen, solo describe lo que necesitas y nosotros nos pondremos en contacto contigo para trabajar una propuesta.</p>
        <p>¡Materializa tus ideas <strong>ahora</strong>!</p>
        <p class="">
          <img src="https://burst.shopifycdn.com/photos/shopify/living-room-brick-wall_720x.jpg" alt="">
        </p>
      </div>
    </div>
  </div>
</div>
